@media only screen and (max-width: 1000px){
header .container {
    display: flex;
    flex-direction: column;
}
.botao{
    margin-top: 5px;
    width: 190px; 
}

.filme-principal {
    background-size:contain;
    height: 80vh;
    width: 100vw;
}

.filme-principal .container {
    margin-top: 20vh;
    width: 100%;
}

.carrosel-filmes {
    margin-top: 20vh;
}

header nav {
    display: flex;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin: 1rem;
}
}